@import './variables.scss';

.tng-table {
    display: flex;
    flex-direction: column;

    .tng-title {
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        line-height: 24px;
    }

    .blw {
        color: #002fff;
    }

    .drw {
        color: #ff7300;
    }

    .tng-row {
        display: flex;
        font-size: 14px;

        .legend {
            padding: 7px;
            min-width: 60px;
            text-align: center;
        }

        .tng--nt {
            padding: 5px;
            line-height: 24px;
            min-width: 40px;
            text-align: center;

            &.tng--nt-tp {
                border-top: 1px solid black;
                border-left: 1px solid black;
            }

            &.tng--nt-btm {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-left: 1px solid black;
            }

            &.tng--nt-lst {
                border-right: 1px solid black;
            }
        }
    }
}
